.DS_Store
.git
.gitignore
.next
.content-collections
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
bun-debug.log*
Dockerfile
DOCKER_DEPLOYMENT.md
build-and-push.sh
compose.yaml
*.local
.env
.env*
!.env.example
